<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>北邮概况</title>
    <link href="../css/nav.css" rel="stylesheet" type="text/css">
    <link href="../css/introduction.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.SuperSlide2.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Dchvoxvu4MksGpVK6sNDsuQZR4VgFObi"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="navContainer">
        <div class="logo">
            <img src="../images/logo.png" />
            <span >北京邮电大学</span>
        </div>
        <div class="nav">
            <ul>
                <li class="selected"><a href="#">北邮概况</a></li>
                <li><a href="#">科学研究</a></li>
                <li><a href="./schoolNews.html">校内新闻</a></li>
                <li><a href="./job.html">就业板块</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="body_carousel">
        <div class="con_Carousel">
            <ul>
             <li><a href="#"><img src="../images/school1.jpg"> </a></li>
            <li><a href="#"5690-=><img src="../images/school2.jpg"> </a></li>
            <li><a href="#"><img src="../images/school3.jpg"> </a></li>
            <li><a href="#"><img src="../images/school4.jpg"> </a></li>
            </ul>
        </div>
        <div class="arrow">
            <div class="arrow_l"> <</div>
            <div class="arrow_r"> ></div>
        </div>
        <div class="circle">
            <ul>

            </ul>
        </div>
    </div>

    <div class="body_intro">
        <div class="sch intro">
            <span></span>
            <div class="introR sch_text">
                <h2>学校简介</h2>
                <p>北京邮电大学是教育部直属、工业和信息化部共建、首批进行“211工程”建设的全国重点大学，是“985优势学科创新平台”项目重点建设高校，是我国信息科技人才的重要培养基地。</p>
            </div>
        </div>
        <div class="sch cul">
            <span></span>
            <div class="culR sch_text">
                <h2>北邮文化</h2>
                <p>北京邮电大学是教育部直属、工业和信息化部共建、首批进行“211工程”建设的全国重点大学，是“985优势学科创新平台”项目重点建设高校，是我国信息科技人才的重要培养基地。</p>
            </div>
        </div>
    </div>
    <div class="body_scene">
        <div  class="scene_title"><p>校园风光</p></div>
            <div class="scene_container">
                <img class="mr_frBtn prev" src="../images/s_arrL.gif" />
                <div class="mr_frUl">
                <div class="scene">
                    <ul class="scene_img">
                        <li><a href="#"><img src="../images/scene1.jpg"> </a> </li>
                        <li><a href="#"><img src="../images/scene2.jpg"> </a> </li>
                        <li><a href="#"><img src="../images/scene3.jpg"> </a> </li>
                        <li><a href="#"><img src="../images/scene4.jpg"> </a> </li>
                        <li><a href="#"><img src="../images/scene5.jpg"> </a> </li>
                        <li><a href="#"><img src="../images/scene6.jpg"> </a> </li>
                    </ul>
                </div>
            </div>
                <img class="mr_frBtn next" src="../images/s_arrr.gif" />
        </div>
        <div class="moreBtn">
           <a href=""><span>查看更多</span><strong> ></strong></a>

        </div>
    </div>
    <div class="body_news">
        <span class="newTitle">新闻中心</span>
        <div class="newsContainer">
           <div class="news_list">
               <h1>新闻&位置</h1>
               <h2>news & location</h2>
               <ul >
                   <li class="news_on" data-title="news"><span></span><p>校内新闻</p><i>NEWS</i></li>
                   <li data-title="location"><span></span><p>学校地址</p><i>LOCATION</i></li>
               </ul>
           </div>
            <div class="news_cnt">
                <div class="news_module" >
                    <ul>
                        <li>学校又发生大新闻了 ，点击进入</li>
                        <li>学校又发生大新闻了 ，点击进入</li>
                        <li>学校又发生大新闻了 ，点击进入</li>
                        <li>学校又发生大新闻了 ，点击进入</li>
                        <li>学校又发生大新闻了 ，点击进入</li>
                    </ul>
                    <div class="news_btn"><a href="./schoolNews.html">查看更多 <span> ></span></a></div>
                </div>
                <div class="news_location" id="baiduMap"></div>
            </div>

        </div>
    </div>
</div>
<script src="../js/introduction.js"></script>
</body>
</html>