<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学校新闻</title>
    <link href="../css/nav.css" rel="stylesheet" type="text/css">
    <link href="../css/side.css" rel="stylesheet" type="text/css">
    <link href="../css/schoolNews.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.min.js"></script>
</head>
<body>
<div class="container">


<div class="header">
    <div class="navContainer">
        <div class="logo">
            <img src="../images/logo.png" />
            <span >北京邮电大学</span>
        </div>
        <div class="nav">
            <ul>
                <li><a href="./introduction.html">北邮概况</a></li>
                <li><a href="#">科学研究</a></li>
                <li  class="selected"><a href="#">校内新闻</a></li>
                <li><a href="./job.html">就业板块</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="body_img"><img src="../images/bg.jpg"/></div>
    <div class="body_cnt">
        <div class="cnt_left">
            <div class="cnt_title"><p>校园新闻</p><span>NEWS</span></div>
            <div class="cnt_list">
                <ul>
                    <li class="news_on"><a href="#">校园新闻<span> ></span></a></li>
                    <li><a href="#">校园新闻<span> ></span></a></li>
                    <li><a href="#">校园新闻<span> ></span></a></li>
                    <li><a href="#">校园新闻<span> ></span></a></li>
                </ul>
            </div>
            <div class="connect">
                <p  class="connectTitle">友情链接</p>
                <ul>
                    <li><a href="https://bbs.byr.cn/index">北邮人论坛</a></li>
                    <li><a href="https://tv.byr.cn/desktop/index.html?cdn=bupt">北邮IPTV</a></li>
                    <li><a href="http://bt.byr.cn/index.php">北邮人BT</a></li>
                </ul>
            </div>
        </div>
        <div class="cnt_right">
            <div class="r_title">
                <div class="r_title_cnt">
                    <p>新闻中心</p>
                </div>
            </div>
                <div class="r_cnt">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="cnt_container">
                                    <div class="cnt_date"><p>27</p><span>2017-03</span></div>
                                    <div class="cnt_news">
                                        <h3>北京邮电大学9月份校内新闻</h3>
                                        <i>校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cnt_container">
                                    <div class="cnt_date"><p>27</p><span>2017-03</span></div>
                                    <div class="cnt_news">
                                        <h3>北京邮电大学9月份校内新闻</h3>
                                        <i>校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cnt_container">
                                    <div class="cnt_date"><p>27</p><span>2017-03</span></div>
                                    <div class="cnt_news">
                                        <h3>北京邮电大学9月份校内新闻</h3>
                                        <i>校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cnt_container">
                                    <div class="cnt_date"><p>27</p><span>2017-03</span></div>
                                    <div class="cnt_news">
                                        <h3>北京邮电大学9月份校内新闻</h3>
                                        <i>校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cnt_container">
                                    <div class="cnt_date"><p>27</p><span>2017-03</span></div>
                                    <div class="cnt_news">
                                        <h3>北京邮电大学9月份校内新闻</h3>
                                        <i>校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cnt_container">
                                    <div class="cnt_date"><p>27</p><span>2017-03</span></div>
                                    <div class="cnt_news">
                                        <h3>北京邮电大学9月份校内新闻</h3>
                                        <i>校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容校内新闻内容</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <span class="moreBtn">加载更多</span>
                </div>

        </div>
    </div>
</div>
<script src="../js/schoolNews.js"></script>
</body>
</html>